{{ define "content" }}
<h2 class="mb-4">Create New User</h2>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/categorys" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name Category</label>
                <input type="text" name="name" placeholder="Enter name" required class="form-control"
                    value="{{ .Name }}">
            </div>

            <div class="form-group">
                <label for="avatar">Logo</label>
                <input type="file" name="avatar" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>
</div>


{{ end }}